<%-include("header")-%>
<h2>This is an about page.</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, porro. Voluptatem placeat reprehenderit saepe. Id
    odit, sint dolorum minima alias possimus rerum rem eos repudiandae doloremque quas! Ea, magnam explicabo.</p>

<%-include("footer")-%>